* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game {
	display: flex;
	align-items: center;
}

.side-bar {
	display: flex;
	flex-direction: column;
}

.side-bar {
	position: relative;
}

.info {
	position: absolute;
	top: 100%;
}

#board {
	margin-top: 3rem;
}

#flipOrientationBtn {
	cursor: pointer;
	background-color: grey;
	height: 40px;
	width: 100px;
}

.create {
	display: flex;
}

.btn {
	margin-top: 1rem;
	cursor: pointer;
	background-color: beige;
	border: none;
	height: 40px;
	width: 100px;
}

#pgn {
	word-wrap: break-word;
	width: 400px;
}

video {
	border: 1px solid black;
}