* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    display: flex;
    align-items: center;
}

.side-bar {
    display: flex;
    flex-direction: column;
}

#board {
    margin-top: 3rem;
}

#flipOrientationBtn {
    cursor: pointer;
    background-color: grey;
    height: 40px;
    width: 100px;
}

.create {
    display: flex;
}

.createBtn,
.joinBtn {
    margin-top: 1rem;
    cursor: pointer;
    background-color: beige;
    border: none;
    height: 40px;
    width: 100px;
}

#pgn {
    word-wrap: break-word;
    width: 400px;
}
